/***** BASE STYLES *****/

body {
    font-family: 'Sanchez', serif;
    font-size: 20px;
    color: #095156;
    background-color: #ffffff;
}

h3 {
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    text-align: center;
    padding-top: 25px;
    margin: 0;
}

h3, h4 {
    font-weight: 700;
    text-transform: capitalize;
}

.half-width img {
    border: 1px solid  #d3d3d3
    ;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 500px;
    float: left;
    padding: 25px 50px;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER *****/

header {
    height: 700px;
    background: url('../img/hero.png');
    background-size: cover;
}

/* alt heading styles
font-family: 'Patua One', cursive;
font-family: 'Yeseva One', cursive;
font-family: 'Poiret One', cursive;

*/

h1 {
    font-family: 'Patua One', cursive;
    font-size: 60px;
    font-weight: 400;
    color: #bdbf09;
    text-align: center;
    text-transform: capitalize;
    padding: 320px 0 0 0;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    margin: 10px;
}

/***** WORK *****/

#work {
    height: 1300px;
    border-width: 1px #b7b7b7;
}

/* #rogue -- no elements */

#jubilee, #holstee {
    clear: both;
}

#work #holstee-link {
    color: #bdbf09;
}

#work h4 {
    font-size: 26px;
    margin-bottom: 5px;
}

#work h5 {
    font-family: 'Poiret One', cursive;
    margin: 0;
    color: #087e8b
}

/***** ABOUT *****/

#about {
    height: 500px;
    background-color: #087e8b;
}

#about #headshot {
    height: 350px;
    display: block;
    margin: auto;
}

#about h3, #about h4, #about p, #about #blusource-link {
    color: #ffffff;
}

#about span {
    font-family: 'Shadows Into Light', cursive;
}

#about p {
    font-size: 18px;
}
/***** CONTACT *****/

#contact {
    height: 250px;
    background-color: #095156;
}

#contact h3, #contact h4, #contact p {
    color: #ffffff;
    text-align: center;
    }

#contact h4 {
    font-family: 'Patua One', cursive;
    font-weight: 400;
}

#contact p {
    font-size: 18px;
}

#contact a {
    text-decoration: none;
    color: #ffffff;
}

#social-media-icons {
    text-align: center;
    list-style: none;
}

#contact ul {
    padding: 0;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    font-size: 32px;
    margin: 0 25px;
}

#contact #github, #linkedin {
    height: 50px;
}

/***** FOOTER *****/

h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-color: #095156;
    padding: 0 0 10px 0;
    margin: 0;
}