/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* -------------------- BASE STYLES - ALL PAGES -------------------- */

html {
  font-size: 16px;
}

@font-face {
  font-family: Kraft Nine;
  src: url('../fonts/KraftNineDEMO.ttf') format('truetype');
  }

body {
    font-family: 'Sanchez', serif;
    font-size: 1em;
    color: #ecede0;
    background-color: #ffffff;
    text-align: left;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

h3,
h4 {
  font-family: 'Poiret One', cursive;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  text-transform: capitalize;
  margin-top: 20px;
}

h4 {
  font-size: 1em;
}

p {
  font-size: .875em;
  line-height: 1.4;
  margin: 0;
}

ul, 
ol {
 list-style-type: none;
}
 
a {
  color: #e2e3ed;
  text-decoration: none;
}
 
address {
  font-style: normal;
}

img {
  width: 100%;
  border-radius: 20px;
}

figure {
  margin: 0;
} 

/* -------------------- Header/Footer - ALL PAGES -------------------- */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  background: url('../img/hero.jpg') center no-repeat #333;
  background-size: cover;
}

header h1 {
  font-family: 'Kraft Nine';
  font-size: 5em;
  font-weight: 400;
  text-align: center;
  color: #404c4e;
  text-shadow: 0 0 40px #c5bfa0, 0 0 80px #fffff0;
  letter-spacing: 2px;
  margin: 0;
  padding: 200px 0 20px 0;
}

header p {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: #e2e4d8;
  text-shadow: 0 1px 0 #404c4e, 0 2px 0 #404c4e, 0 3px 1px #404c4e, 0 4px 1px #404c4e, 0 5px 3px #404c4e, 0 6px 3px #404c4e;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: #404c4e;
  letter-spacing: 1px;
}

footer {
  background-color: #e2e4d8;
  color: #404c4e;
  text-align: center;
}

footer .content-wrapper {
  width: 60%;
}

footer h3 {
  font-family: 'Raleway', cursive;
  font-size: 1.375em;
  font-weight: 700;
  margin: 40px 0 15px 0;
}

footer p {
  font-size: 1em;
}

footer a {
  text-decoration: none;
  color: #404c4e;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons p i {
	font-size: 2.75em;
}

footer .copyright {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  width: 90%;
}

/* ==========================================================================
   Mobile Styles - Homepage
   ========================================================================== */

/* Projects */

.projects,
.about {
  display: flex;
  justify-content: center;
  align-items: center; /*needed?*/
  flex-flow: row wrap;
}

.projects {
  background-color: #404c4e;
}

.projects article {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 50px 0 0 0;
}

.projects .project-image {
  width: 100%;
  margin: 0;
}

.project-description h3 {
  font-size: 1.625em;
  font-weight: 700;
}

.project-description h4 {
  color: #bf905d;
  letter-spacing: 1px;
  margin: 5px 0 15px 0;
}

#holstee-link {
  color: #ecede0;
  text-decoration: underline;
}

/* About */

.about {
  background-color: #4e7c72;
  color: #ecede0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.about article {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 40px 0 0 0;
}

.about figure {
  width: 80%;
}

.about h4 {
  font-size: 1.25em;
  margin: 20px 0;
}

.about p {
  margin-top: 10px;
}

.about span {
  font-size: 1.2em;
  font-family: 'Shadows Into Light', cursive;
  color: #bf905d;
}

/* ==========================================================================
   Mobile Styles - Projects Page
   ========================================================================== */


/* ==========================================================================
   Mobile Styles - About Page
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */
  
/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
  
/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
  
@media screen and (min-width: 768px) {
 /**** TABLET STYLES - Homepage ****/
  
  /* Base Styles */
  .content-wrapper {
    max-width: 640px;
    margin: 70px;
    }

  h2 {
    font-size: 2.5em;
  }

  /* Header */
  header h1 {
    padding-top: 120px;
  }

  /* Projects */
  .projects article {
    justify-content: space-between;
    align-items: flex-start;
  }

  .projects .project-image {
    width: 60%;
  }

  .projects .project-description {
    width: 35%;
  }

  .projects h3 {
    margin: 0;
    font-size: 1.375em;
  }

  /* About */
  .about article {
    justify-content: space-between;
    align-items: flex-start;
  }

  .about .headshot {
    width: 40%;
    order: 2;
  }

  .about .about-description {
    width: 55%;
    order: 1;
  }

  .about h4 {
    margin: 0;
  }

  .about p {
    font-size: 1em;
    margin-top: 20px;
    padding-right: 30px;
  }

  /* Footer */
  footer .content-wrapper {
    width: 100%;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  footer .contact,
  footer .meetup {
    width: 35%;
  }

  footer .social {
    width: 25%;
  }

  footer h3 {
    margin-top: 20px;
  }

  /**** TABLET STYLES - Projects Page ****/

    
  /**** TABLET STYLES - About Page ****/


@media screen and (min-width: 1200px) {
 /**** DESKTOP STYLES - Homepage ****/

  /* Base Styles */
  .content-wrapper {
    max-width: 960px;
  }

  h2 {
    font-size: 3em;
  }

  /* Header */
  header h1 {
    font-size: 6em;
  }

  header p {
    font-size: 3em;
  }

  /* Projects */
  .projects h3 {
    font-size: 2em;
  }
  
  .projects h4 {
    font-size: 1.375em;
  }

  .projects p {
    font-size: 1.25em;
    line-height: 1.5;
  }
  
  /* About */
  .about .headshot {
    width: 30%;
  }
  
  .about .about-description {
    width: 65%;
  }

  .about h4 {
    font-size: 1.5em;
  }

  .about p {
    font-size: 1.375em;
    padding: 0;
  }

  /* Footer */
  footer h2{
    margin-bottom: 20px;
  }

 /**** DESKTOP STYLES - Projects Page ****/


 /**** DESKTOP STYLES - About Page ****/

  
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }
  
  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  
  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
} 