/* ----- Reset and Common Styles ----- */
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%; /* setting default font size to 10px */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 10rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

/* ----- End of Reset and Common Styles ----- */

/* ----- Hero Section ----- */
.hero-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(255,255,255, .2),
    rgba(255,255,255, .3)), 
    url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  flex-direction: column;
}

.hero-heading {
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  background-color: #e41c6f;
  padding: 0 3rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: 0.3rem solid #fff;
  text-shadow: 0.2rem 0.2rem 1rem #555;
  transform: skew(-10deg);
}

.person-img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  border: .7rem dotted #e41c6f;
  background-color: rgba(255,255,255, .7);
  padding: 0.5rem;
  opacity: .9;
}

.person-name {
  font-size: 2rem;
  color: #fff;
  background-color: #e41c6f;
  padding: 0.5rem 3rem;
  margin: 5rem 0;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
}

.hero-button {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: 0.3rem solid #333;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
/* ----- End of Hero Section ----- */

/* ----- Navbar ----- */
.navbar {
width: 100%;
height: 4rem;
background-color: #e41c6f;
box-shadow: 0.2rem 0.2rem 0.5rem #555;
position: -webkit-sticky;
position: sticky;
top: 0;
}

.navbar-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
  margin: 0 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #fff;
}

.navbar-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.navbar-link:hover::before { 
  width: 130%;
}
/* ----- End of Navbar ----- */

/* ----- About Section ----- */
.about-section {
  width: 100%;
  height: 100%;
  padding: 15rem 0 10rem 0;
  background-color: #fff;
  flex-direction: column;
}

.about-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.about-description {
  width: 42%;
  font-size: 2rem;
  color: #333;
  display: flex;
  flex-direction: column;  
}

.about-description p {
  margin-bottom: 2rem;
}

.dev-icons-wrapper {
  width: 50%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list {
  display: flex;
  justify-content: center;
}

.icon-list-item {
  font-size: 10rem;
  color: #e41c6f;
  text-shadow: 0.2rem 0.2rem 0.3rem #555;
  padding: 0 15%;
}
/* ----- End of About Section ----- */

/* ----- Projects Section ----- */
.projects-section {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #eef;
  flex-direction: column;
}

.projects-wrapper {
  width: 90%;
  flex-wrap: wrap;
}

.project {
margin: 1rem;
background-color: #fff;
box-shadow: 0.3rem 0.3rem 0.5rem #777;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
overflow: hidden;
transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  z-index: 10;
}

.project:hover .project-text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.project-name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.project-tech {
  font-size: 1.8rem;
  color: #e41c6f;
}

.project-img {
  width: 40rem;
  height: 25rem;
  object-fit: cover;
  transition: opacity 0.3s;
}

.project:hover .project-img {
  opacity: 0.2;
}

.project-button {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  padding: 0 1rem;
  background-color: #fff;
  border: .3rem solid #e41c6f;
  position: absolute;
  bottom: -5rem;
}

.project:hover .project-button {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}
/* ----- End of Projects Section ----- */
.contact-section {
  width: 100%;
  height: 200vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ----- Contact Section ----- */

/* ----- End of Contact Section ----- */

/* ----- Footer Section ----- */

/* ----- End of Footer Section ----- */